<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28773098582-96udi06gi8vc39vhkotj03klu5hkjcus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28773098582-96udi06gi8vc39vhkotj03klu5hkjcus</string>
	<key>API_KEY</key>
	<string>AIzaSyCsZhEABoZa6e6e_B6ep17kU7VGyeEropA</string>
	<key>GCM_SENDER_ID</key>
	<string>28773098582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mizon</string>
	<key>PROJECT_ID</key>
	<string>mizon-348900</string>
	<key>STORAGE_BUCKET</key>
	<string>mizon-348900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28773098582:ios:2497ef9ecb5111cc06c7f7</string>
</dict>
</plist>